/* Animations */
.slideRight {
    animation: slideright 1.25s;
}
@keyframes slideright {
    from{
        margin-left: -200%;
        left: 300%;
    }
    to {
        margin-left: 0%;
        left: 100%;
    }
}
.slideLeft {
    animation: slideleft 1.25s;
}
@keyframes slideleft {
    from{
        margin-left: 400%;
        left: 300%;
    }
    to {
        margin-left: 0%;
        left: 100%;
    }
}
.slideUp {
    animation: slideup 1.25s;
}
@keyframes slideup {
    from{
        margin-top: 200%;
        top: 300%;
    }
    to {
        margin-top: 0%;
        top: 100%;
    }
}
.slideBottom {
    animation: slidebottom 1.25s;
}
@keyframes slidebottom {
    from{
        margin-top: -200%;
        top: 300%;
    }
    to {
        margin-top: 0%;
        top: 100%;
    }
}
