/*
    Colour Palette
    Background: #071013
    Div Background: #152f38
    Text: #E9E9E9
    Highlights: #aa3cdd
    Subtext: #B8B8B8
*/

/* Defaults */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #071013;
    /* Set the default font to be "Roboto" Medium 500 Platinum*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #E9E9E9;
}

div{
    /*background-color: #152f38;*/
    border-radius: 8px;
    margin: 4px;
    margin-bottom: 10%;
}

@media screen and (min-width:1024px){
    h1{
        display: inline;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    h1{
        display: block;
    }
}

/* Text Styling */
.nameText {
    font-size: 64px;
    margin: 0;
}

.subtext{
    font-weight: 400;
    font-style: italic;
    font-size:20px;
    margin: 4px;
    color: #B8B8B8;
}

.topicText {
    font-size: 32px;
}

.highlighted{
    color: #aa3cdd;
}

/* Image Styling */
/* Desktop Styling */
@media screen and (min-width:1024px){
    .logo {
        width: 64px;
        margin-left: 15%;
    }
    .icon{
        width: 26px;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    .logo {
        width: 96px;
        margin-left: 46%;
    }
    .icon{
        width: 48px;
        margin-left: 2.5%;
    }
}

/* Div Styling */
/* Project Div Styling */
#project {
    display: inline-block;
    background-color: #152f38;
    width: fit-content;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
}
.projectTitle {
    margin-top: 0;
    font-size: 30px;
    color: #aa3cdd;
    text-shadow: 0px 0px 8px #152f38;
}
.projectDesc {
    margin-top: 0;
    color: #B8B8B8;
    font-size: 20px;
    font-style: italic;
}
.projectImage {
    width: 400px;
    height: 255px;
    box-shadow: 0px 0px 4px#B8B8B8;
}

#bubbles {
    position: fixed;
    bottom: 0;
}

/* Skills Styling */
/* Desktop Styling */
#skills{
    display: flex;
}
#skill {
    display: inline-block;
    background-color: #152f38;
    width: 15%;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
}
.skillImage {
    width: 120px;
    height: auto;
}
.skillTitle{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 30px;
    color: #E9E9E9;
    text-shadow: 0px 0px 8px #152f38;
}
.skillSubtext{
    margin-top: 0;
    color: #B8B8B8;
    font-size: 20px;
    font-style: italic;
}


/* Navigation Bar Styling */
/* Desktop Styling */
@media screen and (min-width:1024px){
    #navbar {
        margin-top: 12px;
        margin-right: 15%;
        float: right;
        /* Text Styling */
        font-weight: 400;
        font-style: italic;
        font-size: 24px;
    }
    #navbar a {
        color: #E9E9E9;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    #navbar a:hover{
        color: #aa3cdd;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    #navbar {
        display: none;
    }

    /* OLD MOBILE NAVBAR
    #navbar {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        padding: 18px 18px;
        margin-left: 24%;
    }

    #navbar a {
        background-color: #152f38;
        color: #d1e3ddff; 
        text-align: center;
        padding: 8px;
        text-decoration: none;
        font-size: 42px;
    }
    
    #navbar a:hover {
        background-color: #aa3cdd;
    }*/
}

/* Inner Div Styling */
/* Desktop Styling */
@media screen and (min-width:1024px){
    #innerDiv{
        margin-top: 10%;
        margin-left: 15%;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    #innerDiv{
        text-align: center;
    }
}

/* Contact Form Styling */
/* Desktop Styling */
@media screen and (min-width:1024px){
    form{
        width: 80%;
    }
    input[type=text] {
        width: 100%;
        background-color: #071013;
        border: none;
        border-bottom: 2px solid #aa3cdd;
        color: #E9E9E9;
        padding: 8px;
    }
    textarea{
        width: 100%;
        background-color: #071013;
        border: none;
        border-bottom: 2px solid #aa3cdd;
        resize: none;
        height: 125px;
        color: #E9E9E9;
    }
    input[type=submit]{
        background-color: #152f38;
        color: #E9E9E9;
        border: #071013;
        border-radius: 16px;
        padding: 16px 20px;
        cursor: pointer;
    }
    input[type=submit]:hover{
        background-color: #aa3cdd;
        cursor: pointer;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    form{
        width: 50%;
        margin-left: 25%;
    }
    input[type=text] {
        margin: 8px;
        font-size: 32px;
        width: 100%;
        background-color: #071013;
        border: none;
        border-bottom: 2px solid #aa3cdd;
        color: #E9E9E9;
        padding: 8px;
    }
    textarea{
        font-size: 32px;
        width: 100%;
        background-color: #071013;
        border: none;
        border-bottom: 2px solid #aa3cdd;
        resize: none;
        height: 255px;
        color: #E9E9E9;
    }
    input[type=submit]{
        margin: 8px;
        font-size: 42px;
        background-color: #152f38;
        color: #E9E9E9;
        border: #071013;
        border-radius: 16px;
        padding: 16px 20px;
    }
    input[type=submit]:hover{
        background-color: #aa3cdd;
    }
}

/* Footer Div Styling */
/* Desktop Styling */
@media screen and (min-width:1024px){
    #footer {
        margin-bottom: 0;
        font-weight: 150;
        font-style: italic;
        font-size: 18px;
        color:#B8B8B8;
        margin-right: 15%;
        float:right;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    #footer {
        display: none;
    }
}