/*
Colour Pallete #1

--raisin-black: #32292fff;
--davys-gray: #575366ff;
--glaucous: #6E7dab;
--savoy-blue: #5762d5ff;
--mint-green: #d1e3ddff;

*/

/* Defaults */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #32292fff;
}

div {
    background-color: #575366ff;
    border-radius: 15px;
    padding: 7px 8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #d1e3ddff;
    margin: auto;
}

/* ---Scroll Top Button Styling--- */
/* Desktop Styling */
@media screen and (min-width:1024px){
    #scrollButton {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #6E7dab;
        color: #d1e3ddff;
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 15px;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    #scrollButton {
        display: none;
        position: fixed;
        bottom: 0;
        right: 30px;
        font-size: 78px;
        border: none;
        outline: none;
        background-color: #6E7dab;
        color: #d1e3ddff;
        cursor: pointer;
        padding: 2px 20px;
        border-radius: 15px;
    }
}

/* ---Sticky Top Nav Bar--- */
/* Desktop Styling */
@media screen and (min-width:1024px){
    #navbar {
        position: sticky;
        top: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #navbar a {
        float: left;
        color: #d1e3ddff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
    }
    
    #navbar a:hover {
        background-color: #6E7dab;
    }
    
    #navbar a.active {
        background-color: #5762d5ff;
    }
}
/* Mobile Styling */
@media screen and (max-width:1000px){
    #navbar {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        padding: 18px 18px;
        margin-left: 25%;
    }

    #navbar a {
        background-color: #484554;
        color: #d1e3ddff; 
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 42px;
    }
    
    #navbar a:hover {
        background-color: #5762d5ff;
    }
}

/* Project Showcase */
#projects {
    text-align: center;
}
#showcase {
    display: inline-block;
    background-color: #32292fff;
    width: 15%;
    height: 370px;
    overflow: hidden;
    padding: 14px 16px;
}

#showcase a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#showcase a:hover {
    color: #6E7dab;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background: #32292fff;
}

::-webkit-scrollbar-thumb {
    background-color: #6E7dab;
}

/* Text Styles */
.titletext {
    font-size: 42px;
}

.subtext {
    font-size: 26px;
}

.maintext {
    font-size: 20px;
    margin-bottom: 2%;
}

/* Animations */
.slidedown {
    font-size: 42px;
    animation: slidedown 1.5s
}
@keyframes slidedown {
    from{
        margin-top:-100%;
        height: 300%;
    }

    to{
        margin-top: 0%;
        height: 100%;
    }
}